mixin list(items)
  ul
    each description, name in items
      - var classes = {}
      - classes.selected = (description.path === selected)
      if description.type == "directory"
        li.folder( tabindex = 0 data-path = description.path class = classes )
          vellum-drawer
            div( slot = "closed-label" )
              include /src/media/images/closed-folder.svg
              span= description.name
            div( slot = "opened-label" )
              include /src/media/images/opened-folder.svg
              span= description.name
            div( slot = "content" ): +list(description.content)
      else
        li.file( tabindex = 0 data-path = description.path class = classes )
          div
            include /src/media/images/file.svg
            span= description.name

vellum-split( data-sizes = sizes )

  .navigator( slot = "navigator" )

    .directory
      p.title
        include /src/media/images/project.svg
        span= title
      +list(drive)

    .actions
      vellum-drawer
        div( slot = "closed-label")
          include /src/media/images/file-actions.svg
          span Show Actions
        div( slot = "opened-label" )
          include /src/media/images/file-actions.svg
          span Hide Actions
        div( slot = "content" )
          ul
            li
              button( name = "open-project" )
                include /src/media/images/project.svg
                span Open Project&hellip;
            li
              button( name = "new-folder" )
                include /src/media/images/new-folder.svg
                span New Folder&hellip;
            li
              button( name = "new-file" )
                include /src/media/images/new-file.svg
                span New File&hellip;
            li
              button.if-selection( name = "rename" disabled )
                include /src/media/images/rename.svg
                span Rename&hellip;

            li
              button.if-selection( name = "delete" disabled )
                include /src/media/images/delete.svg
                span Delete&hellip;

  .editor( slot = "editor" )
    if Object.keys(tabs).length > 0
      vellum-tabs
        for tab, name in tabs
          if (tab.path === selected)
            span(
              slot = `tab-${tab.path}`
              data-key = tab.path
              class = selected
              selected
            )= tab.name
          else
            span(
              slot = `tab-${tab.path}`
              data-key = tab.path
            )= tab.name

          div(slot = `panel-${tab.path}` data-key = tab.path)
            studio-code-editor= tab.content
