mixin list(items)
  ul
    each description, name in items
      - var classes = {}
      - classes.selected = (description.path === selected)
      if description.type == "directory"
        li.folder( tabindex = 0 data-path = description.path class = classes )
          vellum-drawer
            div( slot = "closed-label" )
              include /src/media/images/closed-folder.svg
              span= description.name
            div( slot = "opened-label" )
              include /src/media/images/opened-folder.svg
              span= description.name
            div( slot = "content" ): +list(description.content)
      else
        li.file( tabindex = 0 data-path = description.path class = classes )
          div
            include /src/media/images/file.svg
            span= description.name

vellum-split( data-sizes = sizes )

  .navigator( slot = "navigator" )

    .directory
      p.title
        include /src/media/images/project.svg
        span= title
      +list(drive)

    .actions
      vellum-drawer
        div( slot = "closed-label")
          include /src/media/images/file-actions.svg
          span Show Actions
        div( slot = "opened-label" )
          include /src/media/images/file-actions.svg
          span Hide Actions
        div( slot = "content" )
          ul
            li
              button( name = "open-project" )
                include /src/media/images/project.svg
                span Open Project&hellip;
            li
              button( name = "add folder" data-directory = directory )
                include /src/media/images/add-folder.svg
                span New Folder&hellip;
            li
              button(
                name = "add file"
                data-path = directory
                data-extension = extension
              )
                include /src/media/images/add-file.svg
                span New File&hellip;
            if selected
              li
                button( name = "rename" )
                  include /src/media/images/rename.svg
                  span Rename&hellip;
              li
                button( name = "remove" )
                  include /src/media/images/remove.svg
                  span Delete&hellip;
            else
              li
                button( name = "rename" disabled )
                  include /src/media/images/rename.svg
                  span Rename&hellip;
              li
                button( name = "remove" disabled )
                  include /src/media/images/remove.svg
                  span Delete&hellip;


  .editor( slot = "editor" )
    if Object.keys(tabs).length > 0
      vellum-tabs
        for tab, name in tabs
          if (tab.path === selectedFile)
            div(
              slot = `tab-${tab.path}`
              data-key = tab.path
              selected
            )
              span= tab.name
              button( name = `close-${tab.path}` data-path = tab.path )
                include /src/media/images/close.svg
          else
            div(
              slot = `tab-${tab.path}`
              data-key = tab.path
            )
              span= tab.name
              button( name = `close-${tab.path}` data-path = tab.path )
                include /src/media/images/close.svg

          div(slot = `panel-${tab.path}` data-key = tab.path)
            studio-code-editor( data-language = tab.language )= tab.content
