for field in form.fields
  section
    if field.label
      != `<${field.label}>${field.title}</${field.label}>`
    else
      label= field.title
    != `<${field.element}`
    |
    |
    if field.data
      for property, name in field.data
        != `data-${name}='${data[property]}'`
    != ">"
    if field.value
      = data[field.value]
    != `</${field.element}>`
